<div class="site-header">
  <a class="title" href="{{ "/" | relLangURL }}">
    <h1>{{ .Site.Title }}</h1>
  </a>

  <nav class="site-nav">
    {{- with site.Params.nav -}}
      {{- $html := . | markdownify -}}
      {{- $html = replaceRE `(?s)^<p>(.*)</p>$` `$1` $html -}}
      {{- $html | safeHTML -}}
    {{- else -}}
      {{ with site.Menus.main }}
        {{ range $i, $item := . }}
          {{ if $i }} {{ end }}<a href="{{ $item.URL }}">{{ $item.Name }}</a>
        {{ end }}
      {{ else }}
        <a href="{{ "/" | relLangURL }}">{{ i18n "home" }}</a>
        {{ with site.GetPage "/blog" }}
          <a href="{{ .RelPermalink }}">{{ i18n "blog" }}</a>
        {{ end }}
      {{ end }}
    {{- end -}}
    {{- /* Language switcher as nav item */ -}}
    {{- $translations := .AllTranslations -}}
    {{- if lt (len $translations) 2 -}}
      {{- $translations = site.Home.AllTranslations -}}
    {{- end -}}
    {{- if gt (len $translations) 1 -}}
      <span class="lang-dropdown">
        <span class="lang-current">{{ $.Site.Language.LanguageName }}</span>
        <span class="lang-menu">
          {{- range $t := $translations -}}
            {{- if ne $t.Lang $.Lang -}}
              <a href="{{ $t.RelPermalink }}">{{ $t.Site.Language.LanguageName }}</a>
            {{- end -}}
          {{- end -}}
        </span>
      </span>
    {{- end -}}
  </nav>
</div>
