{{- /*
For a given taxonomy, render assigned terms as small tag chips.

@context {page} page        The current page
@context {string} taxonomy  The taxonomy key (e.g. "tags")

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- with $page.GetTerms $taxonomy }}
  <div class="post-tags">
    <ul class="tag-list">
      {{- range .ByLinkTitle }}
        <li>
          <a class="tag-chip tag-sm" href="{{ .RelPermalink }}">{{ .LinkTitle | lower | replaceRE "\\s+" "-" }}</a>
        </li>
      {{- end }}
    </ul>
  </div>
{{- end }}
