{{ define "main" }}
  {{ $toc := .Fragments.ToHTML 2 3 false }}
  {{ $hasToc := false }}
  {{ range .Fragments.Headings }}
    {{ if or (eq .Level 2) (eq .Level 3) }}{{ $hasToc = true }}{{ end }}
    {{ range .Headings }}
      {{ if or (eq .Level 2) (eq .Level 3) }}{{ $hasToc = true }}{{ end }}
    {{ end }}
  {{ end }}
  {{ if $hasToc }}
  <div class="page-with-toc">
    {{ partial "toc/sidebar.html" (dict "page" . "toc" $toc) }}

    <article class="content">
      {{ partial "post/date.html" . }}
      <h1>{{ .Title }}</h1>

      {{ partial "toc/dropdown.html" (dict "page" . "toc" $toc) }}

      {{ .Content }}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </article>
  </div>
  {{ else }}
  <article class="content">
    {{ partial "post/date.html" . }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </article>
  {{ end }}
{{ end }}
