{{- $params := site.Params.upvote -}}
{{- $blogPage := site.GetPage "/blog" -}}
{{- $blogBase := "/blog/" -}}
{{- with $blogPage -}}
  {{- $blogBase = .RelPermalink -}}
{{- end -}}

{{ with .Params.tags }}
  {{ if gt (len .) 0 }}
  <p class="tags"><a rel="nofollow" href="{{ $blogBase }}?q=pot-of-honey" style="display:none;">#potofhoney</a>{{ range . }}{{ $tag := (printf "%v" .) | lower | replaceRE "\\s+" "-" }} <a rel="nofollow" href="{{ $blogBase }}?q={{ $tag | urlquery }}">#{{ $tag }}</a>{{ end }}</p>
  {{ end }}
{{ end }}

{{- $discoverable := true -}}
{{- if isset .Params "make_discoverable" -}}
  {{- $discoverable = .Params.make_discoverable -}}
{{- end -}}

{{- if and ($params.enabled | default false) $discoverable -}}
  {{ partial "post/upvote.html" . }}
{{- end -}}
