{{- $page := .page | default . -}}
{{- $showTags := .showTags | default true -}}
{{- $showSummary := .showSummary | default false -}}

<article class="post-card">
  {{ partial "post/date.html" $page }}
  <h3><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h3>
  {{ if $showTags }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" $page) }}
  {{ end }}
  {{ if $showSummary }}
    {{ $firstP := (findRE "<p>.*?</p>" $page.Content 1) }}
    {{ with index $firstP 0 }}
      {{ . | safeHTML }}
    {{ else }}
      <p>{{ $page.Summary | plainify }}</p>
    {{ end }}
  {{ end }}
</article>

